.base-table {
  position: relative;
  // @color: rgb(180, 180, 180);
  // @borderWidth: .4px;
  // border-top: @borderWidth @color solid;
  // border-bottom: @borderWidth @color solid;
  // border-left: @borderWidth @color solid;
  // .ant-table-tbody > tr > td {
  //   border-right: @borderWidth solid @color !important;
  //   border-top: @borderWidth solid @color;
  // }
  // .ant-table-thead > tr > th {
  //   border-radius: 0;
  //   border-right: @borderWidth solid @color !important;
  // }
}  
.ant-table-pagination.ant-pagination { /*分页的按钮*/
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 20px 0 !important;
}
.ant-table-header .ant-table-hide-scrollbar {
  margin-bottom: 0 !important;
}